.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.single-question{
  background-color: #1d36c2;
  border-radius: 5px;
  border: 2px solid white;
  padding: 3px;
  margin: 5px;
}

.gameboard{
  background-color: cornflowerblue;
  margin: 10px;
  padding: 10px;
}

.hidden{
  visibility: hidden;
}

.correct{
  background-color: chartreuse;
  color: black;
}

.incorrect{
  background-color: crimson;
}
