.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.single-question{
  background-color: #1d36c2;
  border-radius: 50px;
  border: 2px solid white;
  padding: 3px;
  margin: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  
}

.gameboard{
  background-color: cornflowerblue;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.hidden{
  visibility: hidden;
}

.correct{
  margin: 0 auto;
  width: 200px;
  background-color: rgb(14, 179, 22);
  color: black;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.incorrect{
  margin: 0 auto;
  width: 200px;
  background-color: crimson;
  border-bottom-right-radius: 65px;
  border-bottom-left-radius: 65px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.currentScore{
  position: fixed;
  background-color: forestgreen;
  padding: 5px;
  margin: 4px;
  border-radius: 3px;
  bottom: 0;
  text-align: center;
  align-content: center;
}

.formStyle{
  padding: 2px;
  bottom: 500px;
  margin: 50px;
  border: lime;
}

.value{
  text-shadow: 0 1px 2px rgba(5,0,0,0.75);
}

.category{
    text-shadow: 0 1px 2px rgba(5,0,0,0.75);
}





